apiVersion: v1
kind: Template
metadata:
  creationTimestamp: null
  name: redirector
objects:
- apiVersion: apps/v1
  kind: Deployment
  metadata:
    creationTimestamp: null
    generation: 1
    labels:
      run: redirector
    name: redirector
  spec:
    replicas: ${{REPLICAS}}
    selector:
      matchLabels:
        run: redirector
    strategy:
      rollingParams:
        intervalSeconds: 1
        maxSurge: 25%
        maxUnavailable: 25%
        timeoutSeconds: 600
        updatePeriodSeconds: 1
      type: RollingUpdate
    template:
      metadata:
        creationTimestamp: null
        labels:
          run: redirector
      spec:
        serviceAccountName: redirector-service-account
        containers:
        - env:
          - name: REDIRECTOR_DESTINATION
            valueFrom:
                configMapKeyRef:
                  name: redirector
                  key: redirector.destination
          - name: REDIRECTOR_TYPE
            valueFrom:
                configMapKeyRef:
                  name: redirector
                  key: redirector.type
          image: ${IMAGE}:${IMAGE_TAG}
          imagePullPolicy: Always
          name: redirector
          ports:
          - containerPort: 8080
            protocol: TCP
          terminationMessagePath: /dev/termination-log
          resources:
            requests:
              cpu: 20m
              memory: 10Mi
            limits:
              cpu: 40m
              memory: 40Mi
          livenessProbe:
            tcpSocket:
              port: 8080
            initialDelaySeconds: 3
            periodSeconds: 3
          readinessProbe:
            tcpSocket:
              port: 8080
            initialDelaySeconds: 3
            periodSeconds: 3
        dnsPolicy: ClusterFirst
        restartPolicy: Always
        securityContext: {}
        terminationGracePeriodSeconds: 30
    test: false
    triggers:
    - type: ConfigChange
  status: {}
- apiVersion: v1
  kind: Service
  metadata:
    creationTimestamp: null
    name: redirector
  spec:
    ports:
    - name: "8080"
      port: 8080
      protocol: TCP
      targetPort: 8080
    selector:
      run: redirector
    sessionAffinity: None
    type: ClusterIP
  status:
    loadBalancer: {}
- apiVersion: v1
  kind: ServiceAccount
  metadata:
    labels:
      run: redirector
    name: redirector-service-account
parameters:
- name: IMAGE
  value: "quay.io/app-sre/nginx-redirector"
- name: IMAGE_TAG
  value: "latest"
- name: REPLICAS
  value: "3"
  displayName: Redirector replicas
  description: The number of replicas for the devfile.io redirector service.
